html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 50;
}


.hero-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1; 
}


.about-container {
  position: relative;
  z-index: 2;
  margin-top: 100vh; 
  background-color: rgba(255,255,255,0.9); 
}


.capabilities-container {
  position: relative;
  z-index: 3;
  background-color: white; 
}

.highlights-container{
     position: relative;
  z-index: 3;
  background-color: white; 
}
.contact{
     position: relative;
  z-index: 3;
  background-color: white; 
}









