.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #e66712;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s, opacity 0.15s;
  z-index: 9999;
}

.cursor-inner {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #e66712;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s, opacity 0.15s;
  z-index: 9999;
}

body{
    cursor: none;
}
